// @import "../pages/About/_about.scss";


.about{
 width: 100%;
  flex-direction: column;


.aboutdescription {
  width: 100%;
  flex-direction: column;
  gap: 20px; 
  padding: 25px 0px 25px 0px ; 
}

&__text{
 align-items: end;

}

}
.collapses__container description{

}
 
     
// }
// &__container{
  
  
  
 
// }
// &__topbar{
 
//   height: 30px;
// }
// &__titlecollapses{
//   font-weight:300;
//   color: white;
//   overflow-y: hidden;
// }


