// @import "../pages/About/_about.scss";

.about {
  width: 100%;
  flex-direction: column;
  flex: 1;

  &__description {
    width: 100%;
    flex-direction: column;
    gap: 30px;
    padding: 40px 200px;
  }

  &__text {
    align-items: end;
  }
}

@media (max-width: 768px) {
  .about {
    &__description {
      padding: 20px;
      gap: 20px;
    }
  }
}