#root .gallery {
  background-color: #f6f6f6;
  flex-wrap: wrap;
  padding: 50px;
  gap: 50px;
  border-radius: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;

  &__card {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 25px;
  }

  &__img {
    border-radius: 10px;
    object-fit: cover;
  }

  &__titleimg {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    color: white;
    align-self: flex-end;
    padding: 0 20px 20px 20px;
  }

  &__link {
    max-width: 340px;
    height: 340px;
  }
}

@media (max-width: 768px) {
  #root .gallery {
    flex-direction: column;
    padding: 0;
    gap: 22px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: unset;
    align-items: center;

    &__link {
      max-width: 335px;
      height: 255px;
    }
  }
}

@media (max-width: 1440px) {
  #root .gallery {
    justify-content: center;
  }
}
