$main-color: #ff6060;
$footer-bg-color: #000000;
$bg-color: #ffffff;

#root * {
  display: flex;
  max-width: 100%;
 
 overflow-x: hidden;
// //   margin: 40px
// outline: 1px solid red;
}

#root {

  display: flex;
  flex-direction: column;
  padding: 0 80px; 
}
