.site-footer {
  background-color: black;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 66px 0 33px 0;

  &__logo {
    width: 122px;
    height: 39px;
  }
  &__text {
    font-size: 24px;
    color: white;
    justify-content: center;
  }
  &__container {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .site-footer {
    &__text {
      font-size: 12px;
      width: 122px;
    }
  }
}

@media (max-width: 1440px) {
}
