.errorpage {
    flex-direction: column;
   

&__code{
    justify-content: center;
    font-weight:700 ;
    font-size: 96px;
    color:$main-color;
      
    } 
&__text{
    justify-content: center;
    font-weight: 500 ;
    color:$main-color;
    font-size: 36px ;   
    }
&__return{
    justify-content: center;
    font-weight:500;
    font-size:18px;        
}    

}